
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


/* shared style */


.display-flax{
    display: flex;
}
.text-pry{
    color: #FF900E;
}
/* drak1 */
.drak-color{
    color: #424242;
}
/* drak2 */
.drak1-color{
    color: #131313;
}
/* drak light */
.drak-light-color{
    color: #727277;
}
.btn{
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 18px 39px;
    border: none;
    border-radius: 10px;
}
main > section{
    margin-top: 130px;
}
main{
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-titel{
    font-size: 2.8rem;
    font-weight: 700;
}






/* header style */


.bg-color{
    background-color: #f6f6f6e4;
}

/* nav style */


.navber {
    justify-content: space-between;
    align-items: center;
 
}
.brand{
    font-weight: 700;
    font-size: 2rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}
.navber, .banner{
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}


/* banner-contant */


.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner img{
    width: 100%;
    display: block;
    margin: 0 auto;
   
}


/* team item */


.team {
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.team-img img{
    width: 100%;
   
    display: block;
}
.our-plan{
    margin-left: 130px;
    max-width: 530px;
}
#title-1{
    font-weight: 500;
}
/* Feature Section Css  */

.feature{
    gap: 100px;
}
#feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.117);
    margin-bottom: 20px;
}
.feature-card .feature-card-title{
    font-size:  1.2rem;
    font-weight: 600; 
    margin-top: 0;
    margin-bottom: 0; 
}
.architect-img{
    max-width: 520px;
    height: 90%;
    border-radius: 8px;   
}
#btn-bdge{
    padding: 45px 42px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: -70px;
    margin-top: -90px;
}
#btn-year{
    font-size: 2.5rem;
    font-weight: 700;
}






  /* <!--Facts section --> */

  .facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 10px;
  }

  .card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .card-number{
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
  }
 .card-name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;

  }

  .facts-description{
    max-width: 540px;
  }


  /* sponsor releted css */
  .sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
  }
  .sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 30px;
  }
 .sponsor-company img {
    filter: grayscale(100%);
    
 }

/* media con */


@media screen and (max-width: 570px) {
    .nav-links,
     
    .navber, 
    .team,
    .feature{
        flex-direction: column;
    }
    .banner-title{
    font-size: 3rem;
    }
    .team-img,
    .facts-container,
    .sponsor-company{
    grid-template-columns: repeat(1, 1fr);
    }
    .our-plan{
    margin-left: 20px;
    }
    .architect-img{
    width: 100%;
    }
     #btn-bdge{
        display: block;
        margin: 30px auto;
    }
   
}


/* FOOTER SECTION CSS */
.footer{
    background-color: #FFF4E7;  
    padding: 20px 10px;
    text-align: center;
    border-radius: 10px;
    max-width: 1100px;
    margin: 60px auto;
}

.footer p{
    margin: 0;
    font-size: 14px;
    color: #FF900E;
}


/* meduim div */


@media screen and (min-width: 570px) and (max-width: 992px) {
    .team, .feature{
        flex-direction: column;
    }
     .architect-img{
        width: 100%;
        display: block;
        margin: 0 auto;
    }
     #btn-bdge{
        display: block;
        margin: 30px auto;
    }
   
    .facts-container,
    .sponsor-company{
    grid-template-columns: repeat(2, 1fr);
    }
    .our-plan{
    margin-left: 50px;
    }
}

/* 1st meduim div */


@media screen and (min-width: 992px) and (max-width: 1200px) {
    .team{
        flex-direction: column;
    }
    .architect-img{
        height: auto;
    }
     #btn-bdge{
        display: block;
        margin: 100px auto;
    }

    .facts-container,
    .sponsor-company{
    grid-template-columns: repeat(2, 1fr);
    }
    .our-plan{
    margin-left: 50px;
    }
}